html
    head 
        title='Products-test'
        style(type="text/css").
            table.tabla {
                display: flex;
                flex-direction: column;
                text-align: center;
                border: '1px';
            }
            img.imagen {
                max-width: 20%;
            }
        body 
            div
                h2=message
                table(class='tabla' id='tabla')
                    thead     
                        tr
                            th Nombre Producto
                            th Precio Producto
                            th Imagen Producto
                    tbody 
                        if products.length > 0

                            each product in products
                                tr
                                    td=product.producto
                                    td=product.price
                                    td
                                        img(class='imagen' src=product.thumbnail)